.mainHeader {
    
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}
.stickyHeader {
    position: fixed;
    top: 0;
    width: 100%;
}
.stickyHeader + .content {
    padding-top: 102px;
}
.sticky {
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
  }