.bodyBG {
    background-color: #ff0000;
    margin: 0;
    padding: 0;
}
.mainHeader {
    background-color: #f1f1f1;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    position: fixed;
}
.stickyHeader {
    margin-top: 0px;
    position: fixed;
    top: 0;
}
.musicSection {
      background-color: bisque;
      padding-top: 5px;
      width: 100vw;
  }
.musicSection h1 {
      text-align: center;
      margin-left: 0;
      margin-right: 0;
      
  }
  .rightImage {
      margin-left: 55vw;
      margin-right: 10vw;
      max-width: 45vw;
      max-height: 45vw;
      float: right;
      overflow: auto;
  }
  .roseFloesHead {
      margin-left: 20vw;
  }
  .RFdescription {
      margin-left: 10vw;
      margin-right: 55vw;
  }
  .loestusHead {
        text-align: right;
        margin-right: 20vw;
  }
  .loestusDescription {
      text-align: right;
      margin-right: 10vw;
      margin-left: 55vw;
  }
  .scoringHead {
      text-align: center;
  }
  .scoringDescription {
      text-align: center;
      margin-left: 15vw;
      margin-right: 15vw;
  }